.form-field {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

    .form-field input[type="text"], .form-field input[type="number"], .form-field select {
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        height: 3em;
        padding: 0 1em;
    }

    .form-field textarea {
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        padding: 1em;
    }

    .form-field input[type="submit"] {
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid #b5bfd9;
        background: white;
        cursor: pointer;
        color: #333;
        height: 3em;
    }

.upload-cover-icon, .upload-book-icon {
    width: 75px;
    margin-top: 0.5em;
}

.pointer {
    cursor: pointer;
}

.cover-preview {
    width: 250px
}

.hover-effect:hover {
    background: #b5bfd9 !important;
}

/*Add rating as star begin*/
/*:root {
    --primary-colour: #191919;
    --secondary-colour: hsl(233 80% 70%);
    --star-colour: hsl(38 90% 55%);
}

* {
    margin: 0;
    padding: 0;
    transition: .3s;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--primary-colour);
    font-family: sans-serif;
    color: #fff;
}

.container-rating {
    position: relative;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 20%;
    transform: translate(-50%, -50%) rotateY(180deg);
}

    .container-rating .container-rating__items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 .5em;
        width: 100%;
        height: 100%;
    }

        .container-rating .container-rating__items input {
            display: none;
        }

        .container-rating .container-rating__items label {
            width: 20%;
            aspect-ratio: 1;
            cursor: pointer;
        }

            .container-rating .container-rating__items label .star-stroke {
                display: grid;
                place-items: center;
                width: 100%;
                height: 100%;
                background: var(--secondary-colour);
                clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            }

                .container-rating .container-rating__items label .star-stroke .star-fill {
                    width: 70%;
                    aspect-ratio: 1;
                    background: var(--primary-colour);
                    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                }

        .container-rating .container-rating__items input:hover ~ label .star-stroke, .container-rating .container-rating__items input:checked ~ label .star-stroke {
            background: var(--star-colour);
        }

            .container-rating .container-rating__items input:checked ~ label .star-stroke .star-fill {
                background: var(--star-colour);
            }

        .container-rating .container-rating__items label:hover .label-description::after {
            content: attr(data-content);
            position: fixed;
            left: 0;
            right: 0;
            margin-top: 1em;
            margin-inline: auto;
            width: 100%;
            height: 2em;
            color: darkblue;
            text-align: center;
            font-size: 2rem;
            transform: rotateY(180deg);
        }*/
/*Add rating as star end*/
