.form-field {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

    .form-field input[type="text"], .form-field input[type="number"], .form-field select {
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        height: 3em;
        padding: 0 1em;
    }

    .form-field textarea {
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        padding: 1em;
    }

    .form-field input[type="submit"] {
        width: 100%;
        border-radius: 0.5rem;
        border: 2px solid #b5bfd9;
        background: white;
        cursor: pointer;
        color: #333;
        height: 3em;
    }

.upload-cover-icon, .upload-book-icon {
    width: 75px;
    margin-top: 0.5em;
}

.pointer {
    cursor: pointer;
}

.cover-preview {
    width: 250px
}

.hover-effect:hover {
    background: #b5bfd9 !important;
}