@using OnlineBookshop.Common
@model OnlineBookshop.Web.ViewModels.ViewModels.RateBookViewModel
@{
    this.ViewData["Title"] = "RateBook";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-field">
        <label for="rating">Rate</label>
        <select asp-for="InputModel.Rating" id="rate" name="rating">
            <option value="1">1 - Poor</option>
            <option value="2">2 - Unsatisfactory</option>
            <option value="3">3 - Satisfactory</option>
            <option value="4">4 - Very satisfactory</option>
            <option value="5">5 - Outstanding</option>
        </select>
    </div>
    <div class="form-field">
        <label style="color: darkblue; font-size: 20px;" for="comment">Add Comment</label>
        <textarea asp-for="InputModel.Comment" name="comment" name="comment" rows="8"></textarea>
    </div>
    <div class="form-field">
        <input type="submit" class="mb-3 hover-effect" value="Rate">
        <input type="submit" class="mb-3 hover-effect" value="Refresh Data"> @*TODO: make this work*@
        <input type="submit" class="mb-3 hover-effect" value="Cancel"> @*TODO: make this work*@
    </div>
</form>